<h1><%= _("GitLab Profile integration configuration") %></h1>

<%= form_for(:settings) do |f| %>

  <%= labelled_form_field _('Your private token:'), f.text_field(:private_token) %>
  <%= labelled_form_field _('GitLab Domain:'), f.text_field(:domain) %>

  <p><%=
    link = link_to('gitlab.com &rarr; profile &rarr; account', 'https://gitlab.com/profile/account')
    _('Visit %s and get your private token.') % link
  %></p>

  <% button_bar do %>
    <%= submit_button(:save, _('Save'), cancel: {controller: 'profile_editor', action: 'index'}) %>
  <% end %>

<% end %>
