/* GitLab */

.controller-profile_editor a.control-panel-gitlab {
  background-image: url(/plugins/gitlab/gitlab-48.png);
}

.gitlab-plugin_group-block ul {
  margin: 0;
  padding: 0;
}

.gitlab-plugin_group-block li {
  margin: 0;
  padding: 2px 0;
  list-style: none;
}

.gitlab-plugin_group-block li a,
.gitlab-plugin_group-block li a:visited {
  padding: 5px;
  display: block;
  text-decoration: none;
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  color: #000;
}

.gitlab-plugin_group-block li a:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
}

.gitlab-plugin_group-block li img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 5px 0 0;
}

#content .gitlab-plugin_group-block li h3 {
  margin: -4px -4px 5px 37px;
  padding: 1px 0 2px 4px;
  border-radius: 0 3px 0 5px;
  background: rgba(0,0,0,0.3);
  color: #FFF;
}

#content .gitlab-plugin_group-block li p {
  margin: 0;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

